nav.site-nav
  ul.site-nav__list
    li.site-nav__item
      a(href="./", class=currentPage === 'welcome' ? "site-nav__link site-nav__link--selected" : "site-nav__link") Welcome
    li.site-nav__item
      a(href="about.html", class=currentPage === 'about' ? "site-nav__link site-nav__link--selected" : "site-nav__link") About
    li.site-nav__item
      a(href="https://github.com/derenkeskin/minimal-starter-kit") Github
