extends _layouts/default.jade

block title
  title About - Minimal Starter Kit

block vars
  - var currentPage = 'about'

block content
  h2 About
  
  p Minimal Starter Kit is crafted by #[a(href="http://deren.me/") derenkeskin]. If you find a bug, have any questions or feature requests, feel free to #[a(href="https://github.com/derenkeskin/minimal-starter-kit/issues") post an issue] on Github.
