extends _layouts/default.jade

block title
  title Minimal Starter Kit
  
block vars
  - var currentPage = 'welcome'

block content
  p Just another starter kit to help you prototype or build a website rapidly.
  
  h2 Features
  
  ul.features__list
    li.features__item Modular #[a(href="http://gulpjs.com/") Gulp] tasks
    li.features__item Automated #[a(href="http://bower.io/") Bower] library integration
    li.features__item #[a(href="https://learnboost.github.io/stylus/") Stylus] / #[a(href="http://sass-lang.com/") Sass] and  #[a(href="http://jade-lang.com/") Jade] support
    li.features__item #[a(href="https://github.com/postcss/autoprefixer") Autoprefixer] for CSS
    li.features__item HTML, CSS, JS and Images optimization
    li.features__item Cross-device Synchronization with #[a(href="http://www.browsersync.io/") Browsersync]
    li.features__item Live Browser Reloading
    li.features__item Built in HTTP Server
    
