@charset "UTF-8";

// Fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Bree Serif', serif;

// Colors
$brand-color: #DE5842;
$background-color: #2A2C39;
$text-color: #E9E9EB;

// Max width wrapper
$wrapper-width: 620px;

// Responsive
$width-medium: 600px;
$width-small: 480px;
